/*
    Description: 	Form Framework Pro
    Author: 		InsideLab
    Version: 		1.0
*/

/*	--------------------------------------------------
	:: Note: Design for a width of 768px
	-------------------------------------------------- */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        
		.Ccontainer,.Cmodal{ width:768px; }
		
	}

/*	--------------------------------------------------
	:: Note: Design for a width of 480px
	-------------------------------------------------- */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        
		.Cmodal { width:420px;top:15%; left:50%; margin-left:-210px; }
		.Ccontainer{ width:420px; }
		.grid-Ccontainer .column-one,
		.grid-Ccontainer .column-two,
		.grid-Ccontainer .column-three,
		.grid-Ccontainer .column-four,
		.grid-Ccontainer .column-five,
		.grid-Ccontainer .column-six,
		.grid-Ccontainer .column-seven,
		.grid-Ccontainer .column-eight,
		.grid-Ccontainer .column-nine,
		.grid-Ccontainer .column-ten,
		.grid-Ccontainer .column-eleven,
		.grid-Ccontainer .column-twelve { width:98%; }
		
		.Cform .Cheader {
		    text-align:center; 
		}
		
		.Cform .Cheader h4 {
		    line-height:22px; 
		}
		
		.Cform .Cheader a {
		    float:none;
		}
		
		.Cclose {
		    display:block;
			float:none;
			margin-top:10px;
			text-align:center;
		}
		
		.Cform .sub-header-one,
		.Cform .sub-header-two,
		.Cform .sub-header-three,
		.Cform .sub-header-four,
		.Cform .sub-header-five{
			text-align:center;
		}
		
		.Cform .sub-header-one h4,
		.Cform .sub-header-two h4,
		.Cform .sub-header-three h4,
		.Cform .sub-header-four h4,
		.Cform .sub-header-five h4{
			line-height:22px;
			margin:10px 0 5px 0;
		}
		
		.Cform .sub-header-three img,
		.Cform .sub-header-five img{
			margin:5px 0;
		}
		
		.Cform .sub-header-one i,
		.Cform .sub-header-two i,
		.Cform .sub-header-three i,
		.Cform .sub-header-four i,
		.Cform .sub-header-five i{
		    display:block;
			float:none;
			margin-top:5px;
			padding-bottom:10px;
			text-align:center;
		}
		
		.Cform .checkbox-group label,
		.Cform .radio-group label {
		    display:block;
			text-align:left;
			margin-top:10px;
			margin-bottom:10px;
		}
		
		.ui-datepicker { 
			width:361px;
		}
		
		.ui-datepicker .ui-datepicker-calendar a,
		.ui-datepicker .ui-datepicker-calendar span {
			width:43px;
		}
		
		.Cform .box .box-header h4{
			line-height:22px;
		}

    }

/*	--------------------------------------------------
	:: Note: Design for a width of 320px
	-------------------------------------------------- */

    @media only screen and (max-width: 479px) {
        
		.Cmodal { width:300px;top:15%; left:50%; margin-left:-150px; }
		.Ccontainer { width:320px; }
		.grid-Ccontainer .column-one,
		.grid-Ccontainer .column-two,
		.grid-Ccontainer .column-three,
		.grid-Ccontainer .column-four,
		.grid-Ccontainer .column-five,
		.grid-Ccontainer .column-six,
		.grid-Ccontainer .column-seven,
		.grid-Ccontainer .column-eight,
		.grid-Ccontainer .column-nine,
		.grid-Ccontainer .column-ten,
		.grid-Ccontainer .column-eleven,
		.grid-Ccontainer .column-twelve { width:98%; }
		
		.Cform .Cheader {
		    text-align:center; 
		}
		
		.Cform .Cheader h4 {
		    line-height:22px; 
		}
		
		.Cform .Cheader a {
		    float:none;
		}
		
		.Cclose {
		    display:block;
			float:none;
			margin-top:10px;
			text-align:center;
		}
		
		.Cform .sub-header-one,
		.Cform .sub-header-two,
		.Cform .sub-header-three,
		.Cform .sub-header-four,
		.Cform .sub-header-five{
			text-align:center;
		}
		
		.Cform .sub-header-one h4,
		.Cform .sub-header-two h4,
		.Cform .sub-header-three h4,
		.Cform .sub-header-four h4,
		.Cform .sub-header-five h4{
			line-height:22px;
			margin:10px 0 5px 0;
		}
		
		.Cform .sub-header-three img,
		.Cform .sub-header-five img{
			margin:5px 0;
		}
		
		.Cform .sub-header-one i,
		.Cform .sub-header-two i,
		.Cform .sub-header-three i,
		.Cform .sub-header-four i,
		.Cform .sub-header-five i{
		    display:block;
			float:none;
			margin-top:5px;
			padding-bottom:10px;
			text-align:center;
		}
		
		.Cform .checkbox-group label,
		.Cform .radio-group label {
		    display:block;
			text-align:left;
			margin-top:10px;
			margin-bottom:10px;
		}
		
		.ui-datepicker { 
			width:262px;
		}
		
		.ui-datepicker .ui-datepicker-calendar a,
		.ui-datepicker .ui-datepicker-calendar span {
			width:26px;
		}
		
		.Cform .box .box-header h4{
			line-height:22px;
		}
	
    }