.centerForm {
    width: 40%;
    margin-top: 25%;
    margin-left: 20%;
    text-align: center;
}

.datePicker {

}

.phoneMasker {

}

.dateMasker {

}

.center4 {
    width: 51%;
    margin-left: auto;
    margin-right: auto;
}

.center5 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.center6 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.boxBorder {
    border: 2px solid #B3B3B4;
    border-radius: 9px 9px 9px 9px
}

.shadow {
    -moz-box-shadow: 12px 12px 12px #000;
    -webkit-box-shadow: 12px 12px 12px #000;
    box-shadow: 12px 12px 12px #000;
}

.headingColor {
    position: relative;
    padding: 10px 20px;
    margin: 0;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(211, 85, 1, 0.48);
    background-color: #D35501;
    background-image: -moz-linear-gradient(#E45501, #d37521);
    background-image: -webkit-linear-gradient(#E45501, #d37521);
    background-image: linear-gradient(#E45501, #d37521);
    background-repeat: repeat-x;
    border: 1px solid #d37521;
    border-bottom-color: #d37521;
    border-radius: 4px 4px 4px 4px;
    font-size: 25px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: center;
    width: auto;
    font-weight: bold;
}

.pagination ul {
    width: 100% !important;
}