*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.login-page {
    background: url("../../images/jobulo/bg-login.jpg") left top no-repeat;
    background-size: cover
}

.login-page .window {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    overflow-y: scroll;
    display: block;
    width: 500px;
    height: 100%;
    padding: 32px 62px;
    border-left: 1px solid #ddd;
    background: #fff
}

.login-page .window h1.logo {
    display: block;
    height: 0;
    width: 108px;
    padding: 44px 0 0 0;
    margin: 0 0 0 4px;
    text-align: -9999px;
    background: url("../../images/jobulo/logo-blue.png") left top no-repeat;
    overflow: hidden
}

.login-page .window h2 {
    font-size: 24px;
    font-weight: 400
}

.login-page .window p.forgotten-password {
    font-size: 11px
}

.login-page .window p.line-through {
    width: 100%;
    padding: 0;
    margin: 0 0 18px 0;
    text-align: center;
    background: url("../../images/jobulo/line-through.jpg") center no-repeat;
    background-size: contain
}

.login-page .window p.line-through span {
    display: inline-block;
    padding: 0 4px;
    background: #fefefe
}

.login-page .window p.agree {
    line-height: 1.2em
}

.login-page .window hr.underline {
    height: 5px;
    width: 100%;
    margin: 17px 0 12px 0;
    border: none;
    background: url("../../images/jobulo/login-form-underline.jpg") center no-repeat;
    background-size: contain
}

.login-page .window .btn-facebook {
    display: inline-block;
    margin: 25px 0 3px 0
}

.login-page .window form.login-form {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 47px 0 20px 2px
}

.login-page .window form.login-form input {
    width: 100%;
    height: 33px;
    padding: 4px 8px;
    font-size: 14px;
    color: #999;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    background: #fff
}

.login-page .window form.login-form input.email {
    background: url("../../images/jobulo/login-input-icons.jpg") right 0 no-repeat
}

.login-page .window form.login-form input.password {
    background: url("../../images/jobulo/login-input-icons.jpg") right -43px no-repeat
}

.login-page .window form.login-form input.name {
    background: url("../../images/jobulo/login-input-icons.jpg") right -86px no-repeat
}

.login-page .window form.login-form input.checkbox {
    display: inline-block;
    width: auto;
    height: 15px;
    margin: 0 5px 0 0
}

.login-page .window form.login-form input.btn {
    height: 38px;
    padding: 7px 8px 6px 8px;
    margin-top: 8px;
    font-size: 16px;
    color: #fff;
    background: #739efa;
    background: -moz-linear-gradient(top, #739efa 0%, #4a86f7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #739efa), color-stop(100%, #4a86f7));
    background: -webkit-linear-gradient(top, #739efa 0%, #4a86f7 100%);
    background: -o-linear-gradient(top, #739efa 0%, #4a86f7 100%);
    background: -ms-linear-gradient(top, #739efa 0%, #4a86f7 100%);
    background: linear-gradient(to bottom, #739efa 0%, #4a86f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#739efa', endColorstr='#4a86f7', GradientType=0)
}

.login-page .window form.login-form input.btn:hover {
    background: #4a86f7;
    background: -moz-linear-gradient(top, #4a86f7 0%, #739efa 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4a86f7), color-stop(100%, #739efa));
    background: -webkit-linear-gradient(top, #4a86f7 0%, #739efa 100%);
    background: -o-linear-gradient(top, #4a86f7 0%, #739efa 100%);
    background: -ms-linear-gradient(top, #4a86f7 0%, #739efa 100%);
    background: linear-gradient(to bottom, #4a86f7 0%, #739efa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a86f7', endColorstr='#739efa', GradientType=0)
}

.login-page .window form.login-form select {
    width: auto;
    font-size: 14px;
    color: #999
}

.login-page .window form.login-form label {
    display: inline
}

.login-page .window form.login-form .radio-buttons {
    margin: 10px 0 18px 0
}

.login-page .window form.login-form .radio-buttons label {
    display: inline-block;
    margin: 1px 7px 0 0;
    font-size: 14px;
    vertical-align: middle
}

.login-page .window form.login-form .radio-buttons input {
    width: auto;
    height: auto;
    margin: 0 8px 0 4px;
    vertical-align: middle
}

.login-page .window .login-section.login {
    background: none
}

.login-page .window .login-section.login hr {
    margin-top: 0
}

.login-page .window .login-section.password-reset form.login-form {
    margin-top: 10px
}

.login-page .window .login-section.no-facebook form {
    margin-top: 0
}

.login-page .window .login-section.facebook-login .facebook-login-holder {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    text-align: center;
    height: 100px!important;
}

@media screen and (max-width: 620px) {
    .login-page .window {
        width: 100%
    }
}



#RegistrationPluginPagelet{
    z-index: -1!important;
    position:relative!important;
    min-height: 200px!important;

}



.fb_login_link{
    width: 391px;
    position: relative;
}

#RegistrationPluginPagelet{
    display: none!important;

}