@charset "utf-8";

body, div, p, h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("/images/templateImages/template13/header_title_opti.png"), url("/images/templateImages/template13/content_opti11_opt.png");
    background-position: 39px 50px, 77px 50px;
    background-repeat: no-repeat, no-repeat;
    background-size: 200px 270px, 1102px 235px;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

#wrapper {
    padding-top: 40px;
    padding-bottom: 100px;
}

#contactInformation {
    margin-top: 2%;
    margin-left: 307px;
    width: 470px;
}

#contactInformation .name {
    color: #FFFFFF;
    font-size: 58px;
    padding-top: 10px;
}

#contactInformation .emailAndPhone {
    font-size: 15px;
    color: #ffffff;
    padding-top: 10px;
}

#contactInformation .address {
    color: #FFFFFF;
    font-size: 15px;
    padding-top: 15px;
}

.profilePic {
    float: right;
    margin-right: -80%;
    margin-top: -36%;
}

#mainContent {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.secTitle {
    background-position: 41px bottom;
    background-repeat: no-repeat;
    background-size: 192px 292px;
    margin-bottom: 20px;
    width: 230px;
}

.secContent {
    background-image: url("/images/templateImages/template13/content_opti11_opt.png");
    background-position: 82px 25px;
    background-repeat: repeat-y;
    background-size: 1097px auto;
    margin-bottom: 50px;
    padding-bottom: 20px;
    min-height: 250px;
    position: relative;
    width: 1166px;
}

.block {
    margin-left: 200px;
    padding-top: 40px;
    color: #ffffff;
    width: 77%;
    height: 100%;
}

.sectionTitle {
    color: #ffffff;
    float: left;
    margin-right: 20px;
    height: auto;
    width: 125px;
}

.content {
    float: left;
}

.clearAll {
    clear: both;
}

.td {
    vertical-align: top;
}

.rot {
    margin-left: 50px;
    margin-top: 125px;
    position: absolute;
    width: 100px;
}

.data {
    color: #ffffff;
    vertical-align: top;
    width: 70%;
}

.workDescriptionData {
    color: #ffffff;
    vertical-align: top;
}

.text-color {
    color: #ffffff;
}
